In [1]:
import numpy as np
import pandas as pd

In [35]:
artists = pd.read_json('Data/artists.json')

In [36]:
artists = artists.drop(columns=['bio'])

In [37]:
artists = artists.set_index('name')

In [38]:
artists

                          years                         genre nationality
name
Amedeo Modigliani   1884 - 1920                 Expressionism     Italian
Vasiliy Kandinskiy  1866 - 1944  Expressionism,Abstractionism     Russian
Diego Rivera        1886 - 1957       Social Realism,Muralism     Mexican
Claude Monet        1840 - 1926                 Impressionism      French
Rene Magritte       1898 - 1967      Surrealism,Impressionism     Belgian

In [40]:
artists.to_csv('Data/artists.csv')

In [41]:
pd.read_csv('Data/artists.csv')

                 name        years                         genre nationality
0   Amedeo Modigliani  1884 - 1920                 Expressionism     Italian
1  Vasiliy Kandinskiy  1866 - 1944  Expressionism,Abstractionism     Russian
2        Diego Rivera  1886 - 1957       Social Realism,Muralism     Mexican
3        Claude Monet  1840 - 1926                 Impressionism      French
4       Rene Magritte  1898 - 1967      Surrealism,Impressionism     Belgian